@import '../variables';
@import '../mixins';
.header {
  position: sticky;
  top: 0;
  padding: 3rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-fill-mode: both;
  z-index: 99999999;
}

.header::after {
  content: '';
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100%;
  color: var(--color-black);
  background-color: var(--color-background);
  border-bottom: 0.1rem solid var(--color-input-border);
  z-index: -1;
}
