@import '../variables';
@import '../mixins';

.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.skills__column {
  text-align: center;
  margin: 2rem;
  padding: 4rem 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.4rem 3rem;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease 0s;
}

.skills__column:hover {
  transform: scale(1.1) rotate(3deg);
}

.skills__title {
  font-size: var(--font-size-40);
  font-weight: var(--font-weight-bold);
}

.skills__years {
  display: inline-block;
}

